body {
    font-family: sans-serif;
    min-height: 100%;
    border: solid lightgrey;
    border-left: 100%;
    border-right: none;
    border-top: 5px;
    max-width: 1000px;
    margin: auto;
}


h1 {
    font-weight: lighter;
    color: tomato;
    font-size: 52px;
}

h2 {
    font-weight: lighter;
    font-size: 46px;
}

a {
    color: tomato;
    text-decoration: none;
}

header {
    padding: 1rem 2rem 1rem 2rem
}

#headerNav {
    color: lightgrey;
    text-decoration: underline;
}

nav {
    padding: none;
}

li {
    list-style: none;
}

#continues {
    color: tomato;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

#navigate {
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h4 {
    font-weight: lighter;
    color: lightgrey;
}

p {
    font-weight: lighter;
    color: lightgrey;
}

p::first-letter {
    font-size: 400%;
    float: left;
}

article {
    padding: 1rem 2rem 4rem 2rem;
}

#pageLine {
    padding: 0 0 2rem 0;
    border-bottom: solid lightgrey;
}

#footer {
    padding: 1rem 2rem 1rem 2rem;
}

time {
    color: grey;
}

image {
    width: 100%;
}